# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



### MAVEN
target/
pom.xml.tag
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### OSX
.DS_Store
.AppleDouble
.LSOverride
._*

### idea
/out/
.idea
*.iml
*.iws
tomcatlogdir_*
# mpeltonen/sbt-idea plugin
.idea_modules/

### eclipse
.project
.settings
.classpath
